<div class="container *ngIf = 'random_item' ">
    <div class="row">

        <figure class="figure">
            <img [src]=image_src class="figure-img img-fluid rounded"
                alt="A generic square placeholder image with rounded corners in a figure.">
           
            <figcaption class="figure-caption headline-disc">
                {{sub_text}} ......
                <span class="badge badge-info" >
                    <a [href]=random_item.url  target="_blank" >
                        للمتابعة اضغط هنا
                    </a>
                </span>
                
            </figcaption>

        </figure>

    </div>
</div>

