.card{
    width: 90% !important;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin: 10px;
    padding: 5px;
}
.card-title{
    font-size: 16px;
}
.card-subtitle{
    font-size: 14px;
    margin-top: 5px;
    font-weight: 600;
   
}
.card-text{
    font-size: 14px;
    font-weight: 700;
    color: #9b9b9b;
}